{{#sprites}}
${{name}}: ({{px.offset_x}}, {{px.offset_y}}, {{px.width}}, {{px.height}}, "{{name}}");
{{/sprites}}
$png-sprites: ({{#sprites}}${{name}}, {{/sprites}});

@mixin png-sprite($sprite) {
  width: nth($sprite, 3);
  height: nth($sprite, 4);
  background-image: url("{{{spritesheet.escaped_image}}}");
  background-repeat: no-repeat;
  background-position: nth($sprite, 1) nth($sprite, 2);
}

// The `png-sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include png-sprites($png-sprites);
@mixin png-sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 5);

    .#{$sprite-name} {
      @include png-sprite($sprite);
    }
  }
}
@include png-sprites($png-sprites);